---
layout: default
---


{% include experiences.html %}
<hr align="center" color="070b88" width="35%">
{% include oss.html %}
<hr align="center" color="070b88" width="35%">
{% include projects.html %}
<hr align="center" color="070b88" width="35%">
{% include skills.html %}
<hr align="center" color="070b88" width="35%">
{% include publications.html %}


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include oss-contributions.html %}
