{% assign experimental = site.data.data.experimental %}
{% if experimental %}
<section class="experimental-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-flask fa-stack-1x fa-inverse"></i>
    </span>
    {{ experimental.title }}
  </h2>

  <div class="skillset">

    {% for experimental in experimental.toolset %}
    <div class="item">

      <h3 class="level-title">{{ experimental.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ experimental.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
