/* styles-6 variables */
$theme-color: #bb3b3b;
$text-color: #00ff2a;
$text-color-secondary: #ff00d4;
$text-grey: #6b2866;
$divider: #dfbd00;
$lighter-grey: #16e7dd;
$darker-grey: #a200b8;
$smoky-white: #7b921381;
$heart: #fd8700;
