/* styles-6 variables */
$theme-color: #070b88;
$text-color: #2f92cb;
$text-color-secondary: #070b88;
$text-grey: #4c24e0;
$divider: #dfbd00;
$lighter-grey: #16e7dd;
$darker-grey: #ffffff;
$smoky-white: #7b921381;
$heart: #fd0000;
